@import url(//fonts.googleapis.com/css?family=Lato:700);

		body {
			margin:0;
			font-family:'Lato', sans-serif;
			text-align:center;
			color: black;


		}
		.container-fluid {
			padding: 0;
		}
	
		.pagesite {
			background-image: url("http://www.freevector.com/site_media/preview_images/FreeVector-Diamond-Blur-Background-Image.jpg");
			background-size: 100% 100%;
			
		}
		.logo {
			text-align: left;
			padding: 20px;
		}
		#myLogo {
			width: 150px;
			height: 80px;
			float: left;
		}
		#slogan {
			margin-left: 20px;
			display: inline-block;
			width: 500px;
			height: 100px;
			clear: both;
		}

		#navi {
			background-color: #4386fc;
			color: white;
			padding:  5px 40px;
		}
		a {
			text-decoration-color: black; 
		}
		.navbar-brand, .navbar-default {
			color: black;
		}
		a, a:visited {
			text-decoration:none;
		}

		.navbar-collapse > ul > li a:link {
			color: black;
		}

		.navbar-default .navbar-text {
		    color: black;
		}
		.navbar-default .navbar-nav > li > a {
		    color: black;
		}
		.navbar-default .navbar-brand {
		    color: black;
		}



		h1 {
			font-size: 32px;
			margin: 16px 0 0 0;
			color: black;
		}
		
		.content {
			width: 100%;
		}
		.section {
			padding: 15px;
			width: 35%;
			display: inline-block;
			float: left;
			background-color: white;
		}
		.gManager, .dManager {
			text-align: left;		
		}
		.gManager {
			display: none;
			background-size: 100% 100%; 
			background-color: white;
		}
		.dManager {
			padding: 15px;
			background-size: 100% 100%; 
			
		}
		.preview {
			width: 60%;
			display: inline-block;
			float: left;
			background-color: white;
			margin-left: 20px;
		
}		.footer {
			clear: both;
			height: 50px;
			background-color: #333333;
			color: white;
		}
		.form-signup, .form-signin {
		    width: 400px;
		    margin: 0 auto;
		}
		.section, .preview {
			border: ridge #4386fc 5px;
		}
		.glyphicon-folder-close, .glyphicon-folder-open, .glyphicon-file {
			color: #112E85;
		}
		.folder:hover, .subfolder:hover {
			cursor: pointer;
			color: black;
		}
		.subfolder {
			margin-left: 30px;
		}
		.subfolder > a:link, a:visited {
			color: black;
		}
		a:hover {
			text-decoration: none;
		}